.gm-style .gm-style-iw-c {
    padding: 0;
}

.gm-style-iw-d {
    overflow: hidden !important;
}

.info-window-content {
    width: 202px;
}

.gm-ui-hover-effect {
    display: none !important;
}

.store-name {
    margin: 10px;
    font-size: 1rem;
}

.hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

ul {
    margin: 12px;
    list-style: inside;
    font-size: 0.8rem;
}