$footerTextColor: #333;

.footer-resource {
  color: $footerTextColor;
  font-weight: 500;
}

.link-store {
  color: $footerTextColor;
}

.link-store:hover {
  color: #777777;
  text-decoration: none;
}
